<title>Polls, Polls, Polls...</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='../public/css/main.css'>
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
